{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}



        {{#contextheader}}<div class="row no-gutters">{{{contextheader}}}</div>{{/contextheader}}

        <div id="settingsMenu" class="settings-menu {{#topbarstyle1}}c-top-style-1{{/topbarstyle1}}{{#topbarstyle2}}c-top-style-2{{/topbarstyle2}}{{#topbarstyle3}}c-top-style-3{{/topbarstyle3}}{{#topbarstyle4}}c-top-style-4{{/topbarstyle4}}{{#topbarstyle5}}c-top-style-5{{/topbarstyle5}}{{#topbarstyle6}}c-top-style-6{{/topbarstyle6}}">
          <div id="headerBtn" class="header-settings-menu-box">
              {{{settingsmenu}}}
          </div>
          {{{pageheadingbutton}}}
        </div>
