{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_space/maintenance

    space maintenance layout template.

    Context variables required for this template:
    * output - The core renderer for the page

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         }
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
  {{> theme_space/head-content }}
</head>

<body {{{ output.body_attributes }}}>
{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="plugins-check-page">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="box col-sm-12 col-md-11 col-lg-10 pt-5 m-auto py-5">

        <div class="row">
            <div class="col-12 py-3">
                {{{ output.page_heading }}}
            </div>
        </div>

        <div id="page-content" class="row">
            <section id="region-main" class="col-12">
                {{{ output.main_content }}}
            </section>
        </div>

    </div>
</div>

<footer id="page-footer" class="col-10 m-auto mt-5">
  <div class="container text-center small py-3">
      {{{ output.standard_footer_html }}}
      {{{ output.standard_end_of_body_html }}}
  </div>
</footer>


{{> theme_space/footer-scripts }}

</body>
</html>
{{#js}}
require(['theme_space/loader']);
{{/js}}
